@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
body{
    background: linear-gradient(90deg, rgb(252, 138, 0) 0%, rgb(231, 199, 118) 35%, rgb(245, 176, 57) 100%);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    background: linear-gradient(90deg, rgb(252, 138, 0) 0%, rgb(231, 199, 118) 35%, rgb(245, 176, 57) 100%);
    
    text-shadow: white 0px 0px 30px;
}

.container{
    align-items: center;
    width: 600px;
}
 
.regform{
    background-color: rgba(255, 255, 255, 0.322);
    padding: 50px;
    border-radius: 20px;
    
    box-shadow: black 0px 0px 20px;
}

.data-in{
    border-bottom: 1px solid black !important;
    border: none;
    background-color: rgba(255, 255, 255, 0.322);
}

.submit-btn{
    background: linear-gradient(90deg, rgb(252, 138, 0) 0%, rgb(231, 199, 118) 35%, rgb(245, 176, 57) 100%);
    border-radius: 50px;
    border: none;
    width: 75%;
    color: white;
    align-content: center;
    text-shadow: black 0px 0px 5px;
    font-style: bold;
}

h2{
    color: white;
    text-shadow: black 0px 0px 30px;
}