.jumbotron{
    background-image: url("https://i.ibb.co/wM4Pwyk/tw-hero.png");
    background-size: cover;
}

nav li :not(.active):hover{
    transform: scale(1.2);
}

.card-body{
    background-color: #D3F9FF;
}

.regform{
    background-color: #D3F9FF;
    padding: 50px;
    border-radius: 20px;
    box-shadow: black 0px 0px 20px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    
}

.loginform{
    
        background-image: url("https://i.ibb.co/wM4Pwyk/tw-hero.png");
        background-position-y: 30px;
        padding: 50px;
        border-radius: 20px;
        box-shadow: black 0px 0px 20px;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        
   
}



.data-in{
    border-bottom: 1px solid black !important;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.222);
}

.hero-text {
    text-align: center;
    color: #333;
    font-size: 5rem;
    margin-top: 10vh;
    font-weight: 100;
}

table .delbtn{
    background-color: #D3F9FF;
    border: none;
    border-color: #D3F9FF;
}

.delbtn{
    border: none;
}

.dash-card-text {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-top: 1vh;
    font-weight: 100;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #333;
}

.dash-card{
  text-decoration: none;
  transition:all 0.5s;
}
.dash-card:hover{
  box-shadow: 0 0 10px rgba(64, 79, 219, 0.5);
  transform: scale(1.02);
}